h2 {
    text-align: center;
}

main>* {
    border: 2px solid black;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);


}

.card {
    border: 2px solid black;

}